.App {
  text-align: center;
}

#body {
  border-bottom: solid 4px #ECECEC;
  padding-bottom: 1em;
  padding-top: 1em;
  display: flex;
}

.game {
  float: left;
  width: 50%;
  font-weight: bold;
}

.results {
  float: right;
  width: 50%;
}


